@import "bootstrap/bootstrap.less";

/* styles here */
div#content-main {
  .forms-list-container {
    margin-top: 20px;

    button {
      color: #fff;

      &#btnPrintSelection {
        display: none;
        // margin-top: 20px;
        margin-bottom: 10px;

        i {
          display: none;
        }
      }
    }

    #btnToggleSelection {
      display: none;
    }

    .row {
      margin-left: 5px;
      margin-right: 5px;
    }

    .forms-list {
      margin-top: 15px;
      margin-left: 10px;
      width: 32%;
      float: left;

      li {
        list-style-type: none;
        background: #f3f3f4;
        border-left: 6px solid #e7eaec;
        border-right: 6px solid #e7eaec;
        border-radius: 4px;
        color: inherit;
        margin-bottom: 5px;
        padding: 10px;

        .form-name {
          margin-left: 5px;
          display: inline-block;
          width: 90%;
        }

        .form-error {
          color: #a94442;
        }

        &.error {
          border-color: #a94442;
          border-top: 2px solid #a94442;
          border-bottom: 2px solid #a94442;

          .form-error {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

@media(max-width: 767px) {
  div#content-main {
    .forms-list {
      float: none;
      width: 95%;

      li {

      }
    }
  }
}

.icheckbox_square-blue {
  float: left;
}
